@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    background: #0D1850;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}

h1 {
    background-size: cover;
    background-repeat: no-repeat;
}

.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    .topo {
        flex-direction: column;
    }
}

.logo {
    display: flex;
    justify-content: center;
}

.escutar {
    background: #FFFFFF;
    width: 250px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fone {
    padding: 5px;
}

a {
    text-decoration: none;
    color: rgb(112, 112, 112);

}
.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}

.text h1 {
    font-size: 20px;
    font-style: italic;
}

.text p {
    font-size: 12px;
}

.social{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

@media (max-width: 800px) {
    .social {
        flex-direction: column;
    }
}
.soc {
    color: #FFEE6E;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    padding-bottom: 15px;
}

.twitter {
    background: #FFFFFF;
    font-size: 20px;
    width: 250px;
    height: 32px;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.passaro {
    padding: 5px;
}

.instagram {
    padding: 10px;
}

.insta {
    background: #FFFFFF;
    font-size: 20px;
    width: 250px;
    height: 32px;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}